@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-coal text-slate-100 antialiased;
}

.panel {
  @apply border border-slate-800 bg-slate-900/60 backdrop-blur-sm;
}
